@{
    ViewBag.Title = "Home Page";
}


<!-- Intro Section end -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <img src="~/Content/img/about/4.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="about-text">
                    <h3>Looking for a fun interesting place to have your saturday morning coffee?</h3>
                    <p>Look no further than The Coffee Shop. Here at The Coffee Shop we are happy to serve you coffee and look forward to getting to know you more. Our baristas are excited to see our regulars every morning and care about what is going on in their lives.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Section end -->
<!-- Sell Section -->
<section class="sell-section ">
    <div class="sell-warp spad set-bg" data-setbg="~/Content/img/sell-bg.jpg">
        <div class="container">
            <div class="section-title">
                <h2>Selling your place is easy</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>01.</span></div>
                        <h3>Search</h3>
                        <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>02.</span></div>
                        <h3>Compare</h3>
                        <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>03.</span></div>
                        <h3>Connect</h3>
                        <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5 mt-3">
                <a href="#" class="site-btn sb-big">Contact an agent now</a>
            </div>
        </div>
    </div>
</section>
<!-- Sell Section end -->
